@charset "utf-8";

/* CSS Document
HTML and Body Styles*/
html{background-color:hsla(323,100%,89%,1.00)}
body{color:rgba(0,0,0,1.00);
	background-color:floralwhite;
	font-size: 1em;
	width: 99%;
	margin-left:auto;
	margin-right:auto;	
	}

/*header 1*/
header {color: black}
h1 {color: black;
	background-color:#F3FF7C;
	text-align: center;
	font-size: 300%;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	}

/*header 2*/
h2 {color: black; 
	font-size: 180%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	}
/*header 5*/
h3{color: red;
font-size: 120%;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	}

/* nav ul*/
nav ul{color: #0C2FD1;
	background-color:aliceblue;
	padding-bottom:10px;
	list-style-type: none;
	padding-left: 10px;
}
ul{
	list-style-type:none;
	margin:10px;
	padding:10px;
	overflow:hidden
}
ul li{
	float: left;
}
ul li a{
	display:block;
	color: #0C2FD1;
	text-align: left;
	padding: 10px 20px;
	text-decoration:none;
}
ul li a:hover{
	background-color:#A6FCF8;
}

/*Container*/
.container {
  display: inline-grid;
}
.container {
  display: flex;
  background-color: white;
}

.container div {
  background-color: lightgrey;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}



/*Section*/
section {color:black}
section#leftcolumn{
	clear:left;
	float:left;
	overflow:auto;
	width:20%;
}
section#rightcolumn {
	clear:right;
	float:right;
	overflow:auto;
	width:20%;
}
section#rightcolumn::after{
	clear:both;
	content:"";
	display:table;
	margin: 1% 1% 1% 1%;
}
section#leftcolumn::after{
	clear:both;
	content:"";
	display:table;
	margin: 1% 1% 1% 1%;
}

body>footer::after{
	clear:both;
	content:"";
	display:table;
}


/*footer*/
footer {
	color: black;
	clear:both;
	background-color:hsla(323,100%,89%,1.00);
	}
footer>p::after{
	clear:both;
	content:"";
	margin-top: 40px;
}



/*About Us*/
section#About{
	clear:left;
	float:left;
	overflow:auto;
	width:50%;
}
section#About::after{
	clear:both;
	content:"";
	display:table;
	margin: 1% 1% 10% 10%;
}
section#storefront{
	clear:right;
	float:right;
	overflow:auto;
	width:40%;
}
section#Contact{
	clear:both;
	float:left;
	overflow:auto;
	width:50%;
}
section#Contact::after{
	clear:both;
	content:"";
	display:table;
	margin: 1% 1% 10% 10%;
}

/*Gallery*/
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
	clear:both;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}



/*input*/
input {
  width: 25%;
	margin-left: 2%;
}
textarea{
	width:50%;
	overflow:scroll;
	margin-left: 2%;
}


/*accordion*/
$accordion-padding-y:                     1rem;
$accordion-padding-x:                     1.25rem;
$accordion-color:                         $body-color;
$accordion-bg:                            $body-bg;
$accordion-border-width:                  $border-width;
$accordion-border-color:                  rgba($black, .125);
$accordion-border-radius:                 $border-radius;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y:                $accordion-padding-y;
$accordion-body-padding-x:                $accordion-padding-x;

$accordion-button-padding-y:              $accordion-padding-y;
$accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-color:                  $accordion-color;
$accordion-button-bg:                     $accordion-bg;
$accordion-transition:                    $btn-transition, border-radius .15s ease;
$accordion-button-active-bg:              tint-color($component-active-bg, 90%);
$accordion-button-active-color:           shade-color($primary, 10%);

$accordion-button-focus-border-color:     $input-focus-border-color;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow;

$accordion-icon-width:                    1.25rem;
$accordion-icon-color:                    $accordion-button-color;
$accordion-icon-active-color:             $accordion-button-active-color;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

